@model BookDetail

<h1>@Model.Title</h1>
<h4>Are you sure?</h4>
<hr />

<dl class="row">
 <dt class="col-sm-2">
    @Html.DisplayNameFor(model=>model.BookId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model=>Model.BookId)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model=>Model.Title)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Author)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model=>Model.Author)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Summary)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model=>Model.Summary)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.ISBN)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model=>Model.ISBN)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Genre.GenreName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model=>Model.Genre.GenreName)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.PublishedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model=>Model.PublishedDate)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.ObtainedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model=>Model.ObtainedDate)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Status)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model=>Model.Status)
</dl>

<form asp-action="DeleteBook">
    <input asp-for="@Model.BookId" hidden/>
    <button asp-for="@Model.BookId" type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index">Back to List</a>
</form>